<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../estilos/404.css">
    <link rel="icon" type="image/x-icon" href="../imagen/icono.ico">
    <title>404</title>
</head>

<body>
    <img id="logo_404" src="../imagen/cup.png" width="450px" alt="cup 404">
    <h1 id="error">¡Ups! Parece que hemos agotado las preguntas para esta sección.</h1>
    <h5 id="subtitulo">¡Pronto tendremos más!</h5>
</body>

</html>